/* Popups */
micr-io .micrio-marker-popup {
    @apply hidden
}
/* Markers */
micr-io .micrio-marker > button {
  @apply w-4 h-4 bg-white rounded-full flex items-center justify-center border-none !important;
  animation: pulse 2s infinite;
}


/* Increase touch area */
micr-io .micrio-marker > button::before {
  @apply absolute w-32 h-32 bg-transparent rounded-full !important;
}

/* Tour controls */
micr-io .micrio-tour {
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
